@font-face {
    font-family: lucida;
    src: url(../fonts/lucon.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

*
{
    border: 0px solid red; /* for debugging */
}

:root
{
    --back-color: #060608;
    --secondary-back-color: #242A33;
    --secondary-color: #f9f7ff;
    --text-color: #e6e6e9;
    --g1: #090402;
    --g2: #870000;
    --tile-color: #0f0f0f;
    --work: #060606;
    --slight-fade: #8491a0;
}

/* #loader-wrapper
{
    height: 100dvh;
    width: 100dvw;
    z-index: 1;
    background-color: var(--tile-color);
} */

body 
{
    display: flex;
    margin: 0;
    font-family: lucida,sans-serif;
    background: linear-gradient(to right, var(--g1), var(--g1), var(--g2), var(--g2), var(--g1));
    background-size: 200%;
    animation: background-pan 6s linear infinite;    
    color: var(--text-color);
    flex-direction: column;
    overflow: hidden;
    isolation: isolate;
}
body::before
{
    position: absolute;
    height: 160dvh;
    width: 100dvw;
    content: "";
    background: var(--tile-color);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}
body.loaded::before
{
    transition: opacity 4s ease-in-out;
    opacity: 0;
}
header
{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5dvh;
    max-width: 100dvw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 34px;
    opacity: 0;
}
header.loaded
{
    transition: opacity 0.75s ease-in-out;
    opacity: 1;
}

a
{
    user-select: none;
    text-decoration: none;
    color: var(--text-color);
}


/* general css */
/* font-sizes */
.large-text
{
    font-size: min(max(6dvw, 44px), 150px);
}
.medium-large-text
{
    font-size: min(max(4.5dvw, 38px), 100px);
}
.medium-text
{
    font-size: min(max(2.3dvw, 32px), 60px);
}
.small-text
{
    font-size: min(max(1.2dvw, 20px), 40px);
}
.tiny-text
{
    font-size: 16px;
    color: var(--slight-fade);
}

.title-text
{
    justify-content: center;
    text-align: center;
}
/* end font-sizes */

.page
{
    min-height: 100dvh;
    min-width: 100dvw;
}

.center 
{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;  
}
/* end general css */

/* scrollbar */
#scroll
{
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 10px;
    z-index: 3000;
    background-color: #060608;
}

#scroll > #bar
{
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 10px;
    background: #606c88;
    border-radius: 5px;
    transition: top 0.5s ease;
}
/* end scrollbar */

/* header and title */
#header
{
    padding-top: 15px;
    z-index: 9998;
    mix-blend-mode: difference;
}

#nav
{
    display: flex;
    padding-top: 15px;
    gap: 3rem;
}

.nav-a
{
    transition: opacity 0.35s ease;
    opacity: 0.3;
    pointer-events: all;
    cursor: pointer;
    color:var(--text-color);
    font-size: 2.2rem;
}
.nav-on, .nav-a:hover
{
    transition: opacity 0.35s ease;
    opacity: 1;
}
.nav-on
{
    pointer-events: none;
}

#home
{
    display: flex;    
    flex-direction: column;
    position: absolute;
    animation: background-pan 1s linear infinite;
    top: 0;
    left: 0;
    height: 110dvh;
    width: 100dvw;
    z-index: 3;
    margin-left: 9%;
}
#home-page-scroll-flag
{
    position: absolute;
    top: 100px;
    left: 0;
    width: 10px;
    height: 10px;
}

@keyframes background-pan 
{
    from 
    {
      background-position: 0% center;
    }
    
    to 
    {
      background-position: -200% center;
    }
}

#tiles 
{
    height: calc(110dvh - 1px);
    width: calc(100dvw - 1px);
    position: relative;
    z-index: 2;
    transition: background 1s ease;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    --columns: 400;
    --rows: 400;
}

.tiles-scrolled-past
{
    transition: background 1s ease;
    background: var(--tile-color);
}

/* #tiles.tiles-scrolled-past > .tile::before
{
    transition: background 1s ease;
    background: var(--work);
} */

.tile
{
    position: relative;
}
.tile::before 
{
    position: absolute;
    transition: background-color 0.3s ease;
    background-color: var(--tile-color);
    content: "";
    inset: 1px;
    border-radius: 0px;
}
.tile-hover::before
{
    transition: background-color 0.3s ease;
    background-color: #323232;
}

/* title */
#title-wrapper
{
    position: relative;
    margin: calc(2rem + 30dvh) 9% 2rem 0;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    min-width: 452px;
    isolation: isolate;
    /* text-shadow: var(--back-color) 0px 0px 2px; */
}

#title
{
    display: flex;
    flex-direction: column;
    user-select: none;
    opacity: 0;
    transform: translateY(40px) rotateX(309deg);
}

.subtitle
{
    font-size: max(2dvw,24px);
    display: flex;
}
#home-subtitle
{
    display: flex;
}
#subtitle-string
{
    padding-right: 5px;
    border-right: 2px solid var(--text-color);
}
/* end title */
/* end header and title */

/* hexagon - http://jsfiddle.net/kizu/bhGn4/ */
.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    background-color: transparent;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

.hexagon1 {
    width: 400px;
    height: 200px;
    margin: 0 0 0 -80px;
    }
.hexagon2 {
    width: 200px;
    height: 400px;
    margin: -80px 0 0 20px;
    }
/* end hexagon */

/* menu */
.menu 
{
    position: absolute;
    border-radius: 15px;
    border: #242A33 2px solid;
    background-color: #242A33;
    color: var(--text-color);
    margin: 15px;
    padding: 15px;
    right: 0;
    top: 45px;
    display: none;
}

.menu.open 
{
    display: block;
}

.menu-item-wrapper
{
    padding-bottom: 10px;
}

.toggle-menu
{
    position: absolute;
    right: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}


.toggle-menu > div
{
    color: var(--text-color);
    position: absolute;
    transform: translate(-300%, calc(-60px - 50%));
    transition: transform 0.5s ease;
}

.toggle-menu:hover > div
{
    transform: translate(-300%, -50%);
    transition: transform 0.5s ease;
}

.toggle-menu > span
{
    position: absolute;
    display: block;
    height: 4px;
    width: 34px;
    background-color: var(--text-color);
    transform: translateY(calc(-150px - 50%));
}
.toggle-menu > span.active
{
    transform: rotate3d(0, 0, 1, 45deg) translateY(calc(-60px - 50%));
}

.page-container
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 120px 72px;
}

.grid-container
{
    position: relative;
    display: -ms-grid;
    display: grid;
    margin-top: 4rem;
    align-items: start;
    align-content: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    max-width: 1920px;
    font-family: 'Montserrat-Regular', sans-serif;
}

.grid-title
{
    color: var(--text-color);
    padding-right:40px; 
    margin-bottom: 60px; 
    text-shadow: var(--slight-gold) 0px 0px 3px;
}

.section
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 100dvw;
    font-family: 'Montserrat-Regular', sans-serif;
}

#skillset
{
    background: var(--back-color); 
    background: -webkit-linear-gradient(to right, var(--back-color), #232526); 
    background: linear-gradient(to right, var(--back-color), #232526); 
}
#skillset-wrapper
{
    padding: 120px 72px;
}