:root
{
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; 
}

body
{
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#framerate
{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #76B900;
    padding: 5px;
}

/* start */
#start-wrapper
{
    color: azure;
    position: absolute;
    left: 25vw;
    right: 25vw;
    top: calc(50% - 2vh);
    display: flex;
    overflow: hidden;
}

#start
{
    height: 100%;
    width: 100%;
    font-size: 8vmin;
    text-align: center;
    user-select: none;
    will-change: transform;
}
/* end start */

/* menu: */
.toggle-menu
{
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    display: none;
    border: none;
}

.visible
{
    display: block;
}

.toggle-menu > div
{
    color: whitesmoke;
    position: absolute;
    transform: translate(-140%, calc(-60px - 50%));
    transition: transform 0.5s ease;
}

.toggle-menu:hover > div
{
    transform: translate(-140%, -50%);
    transition: transform 0.5s ease;
}

.toggle-menu > span
{
    position: absolute;
    display: block;
    height: 2px;
    width: 26px;
    background-color: azure;
    transform: translateY(calc(-60px - 50%));
}
.toggle-menu > span.active
{
    transform: rotate3d(0, 0, 1, 45deg) translateY(calc(-60px - 50%));
}

@media (orientation: portrait)
{
    body, input, select
    {
        font-size: xx-large;
    }

    .toggle-menu > span
    {
        position: absolute;
        display: block;
        height: 15px;
        width: 80px;
        right: 10px;
        background-color: azure;
        transform: translateY(calc(-60px - 50%));
    }
    .toggle-menu > div
    {
        right: 5px;
        font-size: xx-large;
    }       

    .menu 
    {
        position: absolute;
        border-radius: 15px;
        border: #242A33 2px solid;
        background-color: #242A33;
        color: white;
        margin: 15px;
        padding: 15px;
        right: 50vw;
        top: 50vw;
        display: none;
    }
}

.menu 
{
    position: absolute;
    border-radius: 15px;
    border: #242A33 2px solid;
    background-color: #242A33;
    color: white;
    margin: 15px;
    padding: 15px;
    right: 0;
    top: 45px;
    display: none;
}

.menu.open 
{
    display: block;
}

.menu-item-wrapper
{
    padding-bottom: 10px;
}
/* end menu */

select
{
    opacity: 1;
}

#attractor-info
{
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px;
    font-size: 1.5vmin;
}

/* axes */
#axes
{
    opacity: 0;
}

#axes > div 
{
    position: absolute;
    width: 5px;
    height: 50px;
    bottom: 10px;
    left: 10px;
    pointer-events: none;
}

#x-axis {
    background-color: blue;
    transform: rotate3D(0, 0, 1, 90deg) translate(22px, -28px);
}
#x-axis-label
{
    color: blue;
    transform: translateY(-200%);
}

#y-axis {
    background-color: green;
    transform: rotate3d(0, 0, 0, 0deg) translate(0, 0);
}
#y-axis-label
{
    color: green;
    transform: translateY(-200%);
}

#z-axis {
    background-color: red;
    transform: rotate3d(1, 0, 0, 90deg) translate(0, 0);
}
#z-axis-label
{
    color: red;
    transform: translateY(-200%);
}
/* end axes */